html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ACTUAL CODE STARTS HERE */

* {
	box-sizing: border-box;
}
.landing-bt {
	background-color: white;
	background-image: url(landscape.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

}
.container {
	width: 1200px;
	margin: 0 auto;
	padding-top: 65px;
}
.banner {
	width: 519px;
	color: #4A4A4A;
	font-family: 'Helvetica Neue';
	font-size: 29px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.imagine {
 	display: inline-block;
 	margin-right: 44px;
 	margin-left: 60px;
 	margin-top: -20px;
}
.the {
	font-size: 22px;
	position: relative;
}
.the:before {
	position: absolute;
	left: 0px;
	top: 9px;
	width: 217.5px;
	height: 6px;
	background: #956891;
	content: '';

}
.the:after {
	position: absolute;
	right: 0px;
	top: 9px;
	width: 217.5px;
	height: 6px;
	background: #956891;
	content: '';
}
.big {
	font-size: 111px;
	margin-top: 24px;
}
.light-text {
	font-weight: 300;
	margin-top: 35px;
}
.press {
	width: 244px;
	height: 53px;
	font-family: 'Helvetica Neue';
	font-size: 26px;
	color: #523950;
	border: none;
	border-radius: 8px;
	background: #956891;
	float: left;
	margin-top: 65px;
	margin-bottom: 166px;
}
.foot {
	height: 84px;
	margin-top: 15px;
	background: -moz-linear-gradient(top,  rgba(63,63,63,0) 0%, rgba(0,0,0,0.96) 96%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,63,63,0)), color-stop(96%,rgba(0,0,0,0.96)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(63,63,63,0) 0%,rgba(0,0,0,0.96) 96%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(63,63,63,0) 0%,rgba(0,0,0,0.96) 96%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(63,63,63,0) 0%,rgba(0,0,0,0.96) 96%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(63,63,63,0) 0%,rgba(0,0,0,0.96) 96%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f3f3f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.quarantine {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.trade-mark, .navbar, li {
	display: inline-block;
}
.navbar {
	float: right;

}
.nav {
	font-family: 'Helvetica Neue';
	font-size: 32px;
	font-weight: 100;
	color: white;
}
.nav li {
	margin-right: 72px;
}
.trade-mark {
	font-size: 26px;
	color: rgba(255, 255, 255, .2);	
	margin-left: 90px;
	font-family: 'Helvetica Neue';
}


/*-----------------------buy.html-----------------------------*/


.new-container {
	width: 1200px;
	margin: 0 auto;
	margin-top: 65px;
	text-align: center;
}
.new-banner {
	color: #4A4A4A;
	font-family: 'Helvetica Neue';
	font-size: 29px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.new-big {
	font-size: 53px;
}
.under {
	text-decoration: underline;
}
.nav-item-holder {
	font-family: 'Helvetica Neue';
	font-size: 32px;
	font-weight: 100;
	color: #4A4A4A;
	margin-top: 30px;
}
.nav-item-holder li {
	margin: 0 40px;
}
.payment-area {
	width: 519px;
	height: 500px;
	margin: 0 auto;
	margin-top: 46px;
	background: #EDEDEF;
	border: 1px solid #BABABA;
	border-radius: 3px;
	margin-bottom: 132px;

}

input, .accept {
	width: 466px;
	height: 53px;
	margin: 0 auto;
	display: block;
}
input {
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid #A6A6A6;
	padding-left: 60px;
	font-size: 24px;

}
.form-head {
	height: 85px;
	padding-top: 26px;
	color: #4A4A4A;
	font-size: 32px;
	font-family: 'Helvetica Neue';
	font-weight: 500;
}
.fillouts {
	position: relative;
	height: 415px;
	border-top: 1px solid #A6A6A6;
	background: white;
	font-size: 28px;
	border-bottom: 1px solid #BABABA;
	border-radius: 3px;
}
.email {
	margin-top: 32px;
}
.check-and-terms {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 53px;
	width: 400px;
}
.checker {
	display: inline-block;
	width: 50px;
}
.input-group {
	position: relative;
}
i {
	position: absolute;
	left: 43px;
	top: 13px;
	font-size: 28px;
	color: #956891;
}
.terms {
	font-size: 22px;
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	color: #4A4A4A;
}
.top-list {
	text-decoration: none;
	color: #4A4A4A;
}
.top-list:hover {
	color: #956891;
}
.bottom-list {
	text-decoration: none;
	color: white;
}
.bottom-list:hover {
	color: #956891;
}
.accept {
	background: #956891;
	text-decoration: none;
	color: #523950;
	font-family: 'Helvetica Neue';
	font-weight: 500;
	font-size: 26px;
	padding-top: 13px;
	border-radius: 5px;
}
.second-foot {
	height: 122px;
	background-image: url(footerPIC.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}
.discolored {
	color: white;
	float: right;
	padding-top: 20px;
	display: inline-block;
}
.foot-width {
	width: 1200px;
	margin: 0 auto;
}
.second-mark {
	width: 300px;
	display: inline-block;
	padding-top: 55px;
}
